<h3>カテゴリ名の付け方</h3>
<p>
	<ul>
		<li>その作品に感じたフェチを付ける</li>
	</ul>
</p>
<h3>タグ名の付け方</h3>
<p>
	<ul>
		<li>その作品を連想させるワードを付ける</li>
		<li>気に入った作品は「気になる」に入れとく</li>
	</ul>
</p>

<style>
	h3 {
		display: inline-block;
		border-bottom: solid 1px gray;
	}
</style>
