<h1>NavgationBar</h1>
<div class="row">
	<% @books.each do |book| %>
		<div class="col-sm-3 col-6"><a href="/books/<%= book.id %>"><img src="/assets/contents/<%= book.title %>/1.jpg" style="width:100%"></a></div>
	<% end %>
	<%= paginate @books %>
</div>
