<h1>NavgationBar</h1>
<div class="row">
	<% (1..@book.pagenum).each do |num| %>
		<div class="col-sm-12 mb-3"><img src="/assets/contents/<%= @book.title %>/<%= num %>.jpg" style="width:100%; border: solid 1px gray;"></div>
	<% end %>
</div>
