<h1>Categories#index</h1>
<div>
	<% @categories.each do |category| %>
		<a href="/categories/<%= category.name %>" style="float: left;"><div class="rounded bg-light mr-2 mb-2"><%= category.name %></div></a>
	<% end %>
</div>
